/*
    NAV ELEMENT BACKGROUND : orange
    NAV ELEMENT HOVER      : red

    BREAKPOINTS

    tablet  : 600px
    desktop : 900px
*/

/*** Default Mobile Styles ****************************/
body{
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#home, #blog, #about, #contact{
  border-radius: 10%;
  background-color: orange;
  padding: 50px;
  margin: 10px;
  text-decoration: none;
  flex-grow: 1;
}







/**** Tablet Styles ***********************************/
@media (min-width: 600px) {
  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #home {
    color: red;
  }
  #home, #blog, #about, #contact{
    width: 25%
  }
}










/**** Desktop Styles ***********************************/
@media (min-width: 900px) {
  #home {
    color: blue;
  }
}
