/*
    NAV ELEMENT BACKGROUND : orange
    NAV ELEMENT HOVER      : red

    BREAKPOINTS

    tablet  : 600px
    desktop : 900px
*/

/*** Default Mobile Styles ****************************/
body{
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}







/**** Tablet Styles ***********************************/
@media (min-width: 600px) {
  #home {
    color: red;
  }
}










/**** Desktop Styles ***********************************/
@media (min-width: 900px) {
  #home {
    color: blue;
  }
}
